.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    width: 100%;
}

.inputWrap {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.button {
    padding: 5px;
    max-width: 80px;
}